

<div class="text-center">
  <div class="container d-flex w-70 p-3 mu-5 mx-auto flex-column">
    <h1 class="display-3 mb-auto">Products</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-primary" [routerLink]="['add']" [disabled]="isRole('Manager')">
        Add Product
      </button>
    </div>

    <div class="d-flex col-10">
      <div class="col-10 p-3 ">
        <table class="table table-hover table-bordered text-center ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody
            class="table-group-divider "
            *ngIf="products && products.length > 0; else elseBlock"
          >
            <tr *ngFor="let product of products">
              <td>{{ product.name }}</td>
              <td>{{ product.quantity }}</td>

              <td>{{ product.price | currency: "INR":"symbol":"1.2" }}</td>
              <td>
                <div class="input-group input-group-md">
                  <select
                    #status
                    class="badge rounded-pill form-select text-dark fw-bold lh-base"
                    style="font-size: 14px"
                    [(ngModel)]="product.status"
                    [style.background]="calculateStyle(product.status)"
                    id="inputGroupSelect01"
                    (change)="changeStatus(product.id, $event)"
                    [disabled]="isRole('User')"
                  >
                    <option
                      value="Pending"
                      [selected]="'Pending' == product.status"
                    >
                      Pending
                    </option>
                    <option
                      value="Approved"
                      [selected]="'Approved' == product.status"
                    >
                      Approved
                    </option>
                    <option
                      value="Rejected"
                      [selected]="'Rejected' == product.status"
                    >
                      Rejected
                    </option>
                  </select>
                </div>
              </td>
              <td>
                <button
                  [routerLink]="['/products', 'edit', product.id]"
                  class="rounded-pill bg-info text-white border-0 px-2"
                [disabled]="isRole('Manager')">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button
                  (click)="deleteProduct(product.id, product.name)"
                  class="rounded-pill bg-danger text-light border-0 px-2"
                  [disabled]="isRole('Manager')">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #elseBlock>
          <tbody class="table-group-divider">
            <tr>
              <td colspan="5" class="text-danger text-center fs-3">
                No Products Found...
              </td>
            </tr>
          </tbody>
        </ng-template>
      </div>
    </div>
  </div>
</div>
