

<div class="text-center">
  <div class="container d-flex h-100 w-70 p-3 m-5 mx-auto flex-column bg-light">
    <h1 class="display-4 mb-auto">About Us</h1>
    <p class="lead m-5">Welcome to Product Application.
      <br><br>
      We provide a environment where user can add, update, delete Products and Manager can either approve or reject those Products.
      <br>
      Admins have privillege of everything including adding, editing and deleting Users who can access the Application.
    </p>
  </div>
</div>


