
<div class="container my-5">
  <div class="row d-flex justify-content-center ">
    <div class="col-6 bg-light p-3 ">
      <h1 class="display-5 mb-auto text-center">Edit Product</h1>

      <form class="p-3" #form="ngForm" (ngSubmit)="updateProduct()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" disabled
          name="name" [(ngModel)]="productDetails.name">
        </div>
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="quantity"
          name="quantity" [(ngModel)]="productDetails.quantity">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price"
          name="price" [(ngModel)]="productDetails.price">
        </div>
        <div class="mb-3 d-flex justify-content-end">
          <button type="button" class="btn btn-secondary" (click)="cancelUpdate()">Cancel</button>
          <button type="submit" class="btn btn-primary mx-2">Update</button>
        </div>

      </form>

    </div>
  </div>


</div>


